*, *::before , ::after{
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;;
}

body{
    padding: 0;
    margin: 0;
    width: 100vh;
    height: 100vh;
    background-color: #622f22;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 800px;
    max-width: 80%;
    background-color: #f3e3c3; 
    padding: 10px;
    border-radius: 5px;
   
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn{
    border: 2px solid green;
    border-radius: 5px;
}

.btn:hover{
    border-color: black;
}

@media screen and (max-width: 680px) {
    .btn-grid{
        grid-template-columns: 1;
    }
}
